#window {
  border-radius: 12px;
  background: #495156;
  width: 40%;
}

#outer-box {
  border: 4px solid #D3C6AA;
  border-radius: 12px;
}

#inner-box {
  background: #495156;
}

#input {
  background: #495156;
  padding: 12px;
  color: #7FBBB3;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 4px solid #D3C6AA;
  border-radius: 8px 8px 0px 0px;
  outline: none;
}

#text {
  font-size: 20px;
}

#entry {
  padding: 12px;
  color: #A7C080;
  font-weight: 600;
}

#entry:selected {
  background: #E67E80;
  color: #D3C6AA;
}

#expander-box {
  color: #D3C6AA;
  background: transparent;
}
